<div th:replace="~{shared/header}"></div>

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Usuários</h1>
    

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3" style="display: inline-flex; justify-content: flex-start;">
            <h6 class="m-0 font-weight-bold text-primary">Lista de Usuários INATIVOS do sistema</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>E-mail</th>
                            <th>Tipo</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>E-mail</th>
                            <th>Tipo</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr th:each="user : ${users}">
                            <td th:text="${user.id}" id="userId"></td>
                            <td th:text="${user.name}"></td>
                            <td th:text="${user.email}"></td>
                            <td th:text="${user.type}"></td>
                            <td class="text-center"><a href="" class="btn btn-warning" th:href="@{/users/reactivate/{id}(id=${user.id})}">Reativar</a></td>
                            <td class="text-center"><a href="" class="btn btn-danger deleteUser" th:id="'delete' + ${user.id}" th:onClick="deleteUser([[${user.id}]])">Excluir</a></td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

<div th:replace="~{shared/footer}"></div>